[submodule "cfg/bundle/pathogen"]
	path = cfg/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "cfg/bundle/vimproc"]
	path = cfg/bundle/vimproc
	url = git://github.com/Shougo/vimproc.git
[submodule "cfg/bundle/neocomplcache"]
	path = cfg/bundle/neocomplcache
	url = git://github.com/Shougo/neocomplcache.git
[submodule "cfg/bundle/ghc-mod"]
	path = cfg/bundle/ghc-mod
	url = git://github.com/eagletmt/ghcmod-vim.git
[submodule "cfg/bundle/neco-ghc"]
	path = cfg/bundle/neco-ghc
	url = git://github.com/ujihisa/neco-ghc.git
