[submodule "vimfiles/bundle/pathogen"]
	path = vimfiles/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vimfiles/bundle/vimproc"]
	path = vimfiles/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vimfiles/bundle/typescript"]
	path = vimfiles/bundle/typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "vimfiles/bundle/vim-syntax-shakespeare"]
	path = vimfiles/bundle/vim-syntax-shakespeare
	url = https://github.com/pbrisbin/vim-syntax-shakespeare.git
[submodule "vimfiles/bundle/pgsql"]
	path = vimfiles/bundle/pgsql
	url = https://github.com/exu/pgsql.vim.git
[submodule "vimfiles/bundle/abolish"]
	path = vimfiles/bundle/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vimfiles/bundle/repeat"]
	path = vimfiles/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
